* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: "Segoe UI", "San Francisco", sans-serif;
    font-weight: 200;
    color: #EEE;
}

body {
    background-color: #393939;
}

h1 {
    font-weight: 200;
    font-size: 3em;
    cursor: default;
}

h2 {
    font-weight: 200;
    font-size: 1.1em;
    cursor: default;
    color: #AAA;
    padding: 6px 0;
}

b {
    font-weight: 600;
}

div.subtitle {
    display: block;
    width: 100%;
    text-align: center;
    text-shadow: 0 3px 30px rgba(0,0,0,0.8);
    margin-top: 28px;
    margin-bottom: 2em;
}

div.img-holder {
    text-align: center;
    width: 100%;
    background-color: #141414;
    overflow-x:hidden;
}

div.notimg {
    margin: 5vh 5vw 0 5vw;
    min-width: 950px;
    max-width: 1000px;
    position: relative;
    height: 30vh;
    background-color: #282828;
    display: inline-block;

}

div.banner {
    height: 68px;
    background-color: #00344c;
    width: 100%;
}

.bc {
    height: 68px;
}

.bc-top {
    width: 987px;
    background-image: url("banner-dyn.png");
}

.window-bg {
    background-color: #555;
}

img#banner {
    box-shadow: 0 6px 40px rgba(0,0,0,0.6);
    width: 948px;
    margin-top: 5%;
    background-color: #00344c;
    max-width: 80%;
}

.steps {
    width: 100%;
    text-align: center;
}

.step {
    background-color: rgba(240,240,240,0.2);
    margin: 12px auto;
    width: 540px;
    max-width: 80%;
    box-shadow: 0 3px 30px rgba(0,0,0,0.3);
}

.step-text {
    padding: 18px;
}

span.but {
    color: #BBB;
}

.button {
    background-color: rgba(255,255,255,0.9);
    color: #111;
    margin-top: 4px;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
}

.button:hover {
    box-shadow: 0 1px 8px rgba(30,30,30,0.6);
    color: #000;
    background-color: rgba(255,255,255,1);
}

.button a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 100%;
}

.footer {
    padding-top: 6px;
}

.footer > * {
    padding: 3px 6px;
    color: #AAA;
    font-size: 1em;
}

.footer > a {
    text-decoration: none;
}

.footer > a:hover {
    text-decoration: underline;
    color: #CCC;
}

.footer > span {
    cursor: default;
}

.footer :not(:first-child) {
    border-left: 1px solid rgba(240,240,240,0.2);
}

#picker {
    font-family: "Segoe UI", "San Francisco", sans-serif;
    display: inline-block;
    max-width: 100%;
}

.step-control {
    height: 32px;
    line-height: 32px;
    width: 100%;
}
